<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
        
    </style>

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">{{ site.title | default: site.github.repository_name }}</h1>
        <p class="header">{{ site.description | default: site.github.project_tagline }}</p>

        <ul>
          {% if site.show_downloads %}
            <li class="download"><a class="buttons" href="{{ site.github.zip_url }}">Download ZIP</a></li>
            <li class="download"><a class="buttons" href="{{ site.github.tar_url }}">Download TAR</a></li>
          {% endif %}
<!--           <li><a class="buttons github" href="{{ site.github.repository_url }}">View On GitHub</a></li> -->
        </ul>

<!--         {% if site.github.is_project_page %}
          <p class="header">This project is maintained by <a class="header name" href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %} -->

<!--         {% if site.github.is_user_page %}
          <ul>
            <li><a class="buttons github" href="{{ site.github.owner_url }}">GitHub Profile</a></li>
          </ul>
        {% endif %} -->

<!--         <ul class="tree"> -->
<!--           <li>2025维权页</li>
          <li><a href="https://rain-kaki.github.io/pingxie-depository/index">2025维权主页</a></li>
          <li><a href="https://rain-kaki.github.io/pingxie-depository/2025npfy/2025npfy">官方无良操作合集</a></li> -->
<!--           <li><a href="index">官方人员问题言论</a></li>
          <li><a href="index">被忽视的糖点</a></li>
          <li><a href="index">谣言澄清</a></li> -->
<!--         </ul> -->
        <p id="a-line">&nbsp;</p>
        <ul>
           <li>
            <details>
                <summary class="c-title">👉&nbsp;2025维权合集</summary>
                <ul class="ul-inner">
                    <li><a href="https://rain-kaki.github.io/pingxie-depository/index">维权页</a></li>
                </ul>
            </details>
          </li>
          <li>
            <details>
                <summary class="c-title">👉&nbsp;南派官方瓜合集</summary>
                <ul class="ul-inner">
                    <li><a href="https://rain-kaki.github.io/pingxie-depository/2025npfy/music">南派官方现场演示偏心大法</a></li>
                    <li><a href="https://rain-kaki.github.io/pingxie-depository/2025npfy/goods">南派官方教你如何噶韭菜</a></li>
                    <li><a href="https://rain-kaki.github.io/pingxie-depository/2025npfy/employee">官方相关人员辱骂消费者</a></li>
                </ul>
            </details>
          </li>
          <li>
            <details>
                <summary class="c-title">👉&nbsp;谣言与争议澄清</summary>
                <ul class="ul-inner">
                    <li><a href="https://rain-kaki.github.io/pingxie-depository/clarify/trilogy">三部曲的主角仍然是铁三角</a></li>
                </ul>
            </details>
          </li>
        </ul>        
          
      </header>


      <section>
        {{ content }}
      </section>

      <footer>
        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> </small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
